// app global css in SCSS form

body {
  //overflow: hidden;
  //font-family: 'microsoft yahei';
}

// cnic colors
.bg-c-blue1 {
  background-color: $c-blue-1;
}
.bg-c-blue2 {
  background-color: $c-blue-2;
}
.bg-c-blue3 {
  background-color: $c-blue-3;
}
.bg-c-blue4 {
  background-color: $c-blue-4;
}
.bg-c-blue5 {
  background-color: $c-blue-5;
}

.text-c-blue1 {
  color: $c-blue-1;
}
.text-c-blue2 {
  color: $c-blue-2;
}
.text-c-blue3 {
  color: $c-blue-3;
}
.text-c-blue4 {
  color: $c-blue-4;
}
.text-c-blue5 {
  color: $c-blue-5;
}

// nord colors
.bg-nord0 {
  background-color: $nord0;
}

.bg-nord1 {
  background-color: $nord1;
}

.bg-nord2 {
  background-color: $nord2;
}

.bg-nord3 {
  background-color: $nord3;
}

.bg-nord4 {
  background-color: $nord4;
}

.bg-nord5 {
  background-color: $nord5;
}

.bg-nord6 {
  background-color: $nord6;
}

.bg-nord7 {
  background-color: $nord7;
}

.bg-nord8 {
  background-color: $nord8;
}

.bg-nord9 {
  background-color: $nord9;
}

.bg-nord10 {
  background-color: $nord10;
}

.bg-nord11 {
  background-color: $nord11;
}

.bg-nord12 {
  background-color: $nord12;
}

.bg-nord13 {
  background-color: $nord13;
}

.bg-nord14 {
  background-color: $nord14;
}

.bg-nord15 {
  background-color: $nord15;
}


.text-nord0 {
  color: $nord0;
}

.text-nord1 {
  color: $nord1;
}

.text-nord2 {
  color: $nord2;
}

.text-nord3 {
  color: $nord3;
}

.text-nord4 {
  color: $nord4;
}

.text-nord5 {
  color: $nord5;
}

.text-nord6 {
  color: $nord6;
}

.text-nord7 {
  color: $nord7;
}

.text-nord8 {
  color: $nord8;
}

.text-nord9 {
  color: $nord9;
}

.text-nord10 {
  color: $nord10;
}

.text-nord11 {
  color: $nord11;
}

.text-nord12 {
  color: $nord12;
}

.text-nord13 {
  color: $nord13;
}

.text-nord14 {
  color: $nord14;
}

.text-nord15 {
  color: $nord15;
}
