// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// layout
$general-width: 1290px;
$general-width-no-padding: 1230px;

// footer
$global-footer-height: 50px;

// cnic colors
$c-blue-1 : #142467;
$c-blue-2 : #007BFC;
$c-blue-3 : #51B9FF;
$c-blue-4 : #245099;
$c-blue-5 : #AEB6D5;

// nordtheme colors
$nord0     : #2E3440;
$nord1     : #3B4252;
$nord2     : #434C5E;
$nord3     : #4C566A;
$nord4     : #D8DEE9;
$nord5     : #E5E9F0;
$nord6     : #ECEFF4;
$nord7     : #8fbcbb;
$nord8     : #88C0D0;
$nord9     : #81A1C1;
$nord10    : #5e81ac;
$nord11    : #BF616A;
$nord12    : #D08770;
$nord13    : #EBCB8B;
$nord14    : #A3BE8C;
$nord15    : #B48EAD;

//quasar system colors
$primary   : #027BE3;
$secondary : #26A69A;
$accent    : #9C27B0;
$dark      : #1d1d1d;
$positive  : #21BA45;
$negative  : $nord11;
$info      : #31CCEC;
$warning   : #F2C037;
